body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey  ;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:nth-child(17) { background-color: #28a745; } /* Equal Button */
button:nth-child(18) { background-color: #dc3545; } /* Clear Button */
button:nth-child(19) { background-color: #ffc107; } /* Delete Button */
